#controles ul {
  list-style-type: none;
  padding: 0;
  transform: translateX(-80%);
}

#controles ul:hover {
  transform: translateX(0);
}

/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
  transition: transform .5s ease-in;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas *sugestões*:
 *   - com-fome: animal piscando (opacidade variando)
 *   - satisfeito: uma borda verde no animal e o animal fica girando de alegria
 *   - com-raiva: animal fica pulsando
 *   - atacando: animal dá um salto e cresce, com uma borda vermelha
 */
.com-fome {
  animation: fome .9s linear .5s infinite alternate;
}

.satisfeito {
  transition: transform 1s linear;
  transform: rotate(360deg);
  border: 5px solid green;
}

.com-raiva {
  animation: raiva 0.3s linear 0s infinite alternate,
  balancarCabeca 0.15s ease-in-out 0s infinite alternate;
}

.atacando {
  border: 5px solid red;
  animation: pular .2s ease-out 0s 2 alternate, 
              aproximar .4s linear 0s 2 alternate;
  z-index: 100;
}

@keyframes fome {
  from {opacity: 1;}
  to {opacity: 0.5;}
}

@keyframes raiva {
  from {transform: scale(1);}
  to {transform: scale(1.15);}
}

@keyframes pular {
  from {margin-top: 0;}
  to {margin-top: -125px;}
}

@keyframes aproximar {
  from {transform: scale(1);}
  to {transform: scale(1.4);}
}

@keyframes balancarCabeca {
  from {transform: rotate(15deg);}
  to {transform: rotate(1-5deg);}
}